@{
    ViewBag.Title = "Add Questions and Options";
}
<br/>
<br/>
<br/>
@if (ViewBag.Message != null)
{
<span class="alert-success">@ViewBag.Message</span>
}
<div  class="container">
    <div class="row">
        <div class="col-md-7">
            <span><strong>Please enter the number of questions you want to add</strong></span>
        </div>
        <div class="col-md-2">
            <input class="form-control" type="number" id="numberOfQuestions" max="20"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <span><strong> Please enter the number of options you want to provide for each question</strong></span>
</div>
        <div class="col-md-2">
            <input class="form-control" type="number" id="options" max="5" />
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-2 pull-right">
            <button class="btn btn-primary" id="generateQuestionsBtn" title="Generate Questions">Generate Questions</button>
        </div>
    </div>
    <!--class="needs-validation" novalidate-->
    <form method="post" action="~/Home/CreateQuestionsWithOptions" >
        <div id="questionsDiv">


        </div>
        <div id="submitDiv" style="display:none">
            <div class="row"><div class="col-md-2 pull-right">
    <button type="submit" class="btn btn-primary form-control">Create Questions</button>
</div></div>

            </div>
    </form>
</div> 
<script>
    //(function () {
    //    'use strict';
    //    window.addEventListener('load', function () {
    //        // Fetch all the forms we want to apply custom Bootstrap validation styles to
    //        var forms = document.getElementsByClassName('needs-validation');
    //        // Loop over them and prevent submission
    //        var validation = Array.prototype.filter.call(forms, function (form) {
    //            form.addEventListener('submit', function (event) {
    //                if (form.checkValidity() === false) {
    //                    event.preventDefault();
    //                    event.stopPropagation();
    //                }
    //                form.classList.add('was-validated');
    //            }, false);
    //        });
    //    }, false);
    //})();
    $(document).ready(function () {

        $("#generateQuestionsBtn").on("click", function () {
            
            if(($("#options").val()!='' && $("#options").val()!=0) && ($("#numberOfQuestions").val()!='' && $("#numberOfQuestions").val()!=0))
            {
                var html = "";
                for (var questions=0;questions<$("#numberOfQuestions").val();questions++)
                {
                    html = html + "<div class='form-row' style='margin-top: 12px; margin-bottom: 12px;'><div class='col-md-12'><div class='row' style='margin-top: 12px; margin-bottom: 12px;'><div class='col-md-2'><span><strong>Question:"+questions+"</strong></span></div><div class='col-md-10'><input type='text' required name='questionId[" + questions + "]' class='form-control is-valid'/></div></div>";
                    
                    for (var options = 0; options < $("#options").val() ; options++)
                    {
                        html=html + "<div class='row'><div class='col-md-2'><span><strong>"
                        if(options==0)
                        {
                            html=html+"Correct Option";
                        }
                        else{
                            html=html+"Wrong Option";
                        }
                        html = html + "</strong> </span></div><div class='col-md-3'><input type='text' required name='answerId[" + questions + "][" + options + "]' class='form-control is-valid'/></div></div>";
                    }
                    html+="</div></div>"
                }

                $("#questionsDiv").html(html);
                $("#submitDiv").show();
            }


        });

    });
</script>

